modules:
  dns_query:
    prober: dns
    timeout: 5s
    dns:
      query_name: google.com
      query_type: "A"
      valid_rcodes:
        - NOERROR

  http_2xx:
    prober: http
    timeout: 15s
    http:
      preferred_ip_protocol: "ip4"
      valid_status_codes: []
      method: GET